{% extends "material/frontend/base_module.html" %}
{% load i18n material_form %}
{% block page_title %}<a href="/">{{ "Dashboard" }}</a>{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 offset-m3 m6">
        <div class="card">
            <div class="card-content">
                <h4> Courses </h4>
                <table>
                {% for course in faculty_courses %}
                    <tr>
                    <td><a href="{% url 'facultycourse' course.pk %}">{{ course.name }}</a></td>
                    <td>{{ course.pk }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}