{% extends "material/frontend/base_module.html" %}
{% load i18n material_form %}
{% block page_title %}<a href="/">{{ "Dashboard" }}</a>{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12  m6">
        <div class="card">
            <div class="card-content">
                <h4> Courses </h4>
                <table>
                {% for course in student_courses %}
                    <tr>
                    <td><a href="{% url 'studentgraph' course.pk %}">{{ course.name }}</a></td>
                    <td>{{ course.pk }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col s12  m6">
        <div class="card">
            <div class="card-content">
                <h4> Tests </h4>
            <table>
                {% for test, result in student_test_result %}
                <tr>
                <td><a href="{% url 'exam:test' test.pk %}">{{ test.name }} - {{ test.course.name }}</a></td>
                <td>{{ result }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}